ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    position: relative;
  
    .profile-pic-container {
      margin-top: 50px;
    }
  
    .profile-pic {
      font-size: 200px;
      color: #888;
    }
  
    .signup-message {
      margin-top: 20px;
      font-size: 36px;
    }
  
    .signin-message {
      display: flex;
      align-items: center;
      margin-top: auto; /* Pushes the sign-in message to the bottom */
      font-size: 18px;
      justify-content: center;
    }
  }
  