<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign Up / Sign In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-pic-container">
    <ion-icon name="person-circle-outline" class="profile-pic"></ion-icon>
  </div>

  <h2 class="signup-message">
    Sem cadastro. <strong>Cadastrar agora</strong>
  </h2>

  <h3 class="signin-message">
    <ion-icon name="fish-outline"></ion-icon>
    Já tem conta? <strong>Entrar</strong>
  </h3>
</ion-content>