ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 50px;
}

.bluetooth-icon {
  font-size: 5rem;
  color: #3880ff;
}

.status-message {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}
